.advantage {
  padding-bottom: 350px;
  background: $bg-gray url(../img/iphone-screen-mobile@1x.png) center bottom -43px no-repeat;
}

.advantage__list {
  list-style: none;

  margin: 0;
  padding: 0;

  text-align: center;
}

.advantage__title {
  font-size: 18px;
  font-weight: bold;
  color: #000000;
}
