.bonus {
  @include wrap();
}

.bonus__text {
  line-height: 30px;
  text-align: center;

  margin: 0;
  padding: 45px 0;
}

.bonus__text-add {
  display: none;
}

@media (min-width: $tablet-width) {
  .bonus {
    width: 500px;

    padding-left: 0;
    padding-right: 0;

    font-size: 18px;
  }

  .bonus__text-add {
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .bonus {
    width: 780px;
  }

  .bonus__text-add {
    display: inline;
  }
}
