.bonus {
  padding: 0 20px;
}

.bonus__text {
  line-height: 30px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .bonus__text {
    width: 500px;

    @include wrap();

    font-size: 18px;
  }

  .bonus__br-text {
    display: none;
  }
}
