.call-action {
  max-width: $min-width-body;

  @include wrap();

  line-height: 30px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .call-action {
    width: auto;
    max-width: $desktop-width;

    font-size: 18px;
  }

  .call-action__br-text {
    display: none;
  }
}
