.download {
  padding: 0;
  padding-top: 30px;
  padding-bottom: 30px;

  background-color: #1d2631;
}

.download__btn,
.download__os-list,
.download__info {
  width: $min-width-body - $padding-hor * 2;
  margin: 0 auto;

  text-align: center;
}

.download__os-list {
  display: flex;
  justify-content: center;
  align-items: baseline;

  padding-top: 31px;
  padding-bottom: 15px;
}

.download__os-link {
  display: block;
  margin: 0 18px;
}

.download__info {
  font-weight: lighter;
}

@media (min-width: $tablet-width) {
  .download {
    background-color: transparent;
  }

  .download__btn {
    display: block;
    width: auto;
  }

  .download__info {
    display: block;
    width: auto;

    font-size: 18px;
  }

  .download__os-list {
    width: auto;
    padding-top: 42px;
    padding-bottom: 31px;
  }
}

@media (min-width: $desktop-width) {
  .download {
    padding-top: 10px;
  }

  .download__btn {
    font-size: 21px;
    font-weight: bold;
  }

  .download__os-list {
    padding-top: 64px;
    padding-bottom: 49px;
  }
}
