.download {
  background-color: #1d2631;
}

.download__os-list {
  text-align: center;
}

.download__info {
  padding: 0;

  text-align: center;

  font-weight: lighter;
  color: #ffffff;
}

@media (min-width: $tablet-width) {
  .download {
    background-color: transparent;
  }
}
