.effect {
  display: none;
}

@media (min-width: $tablet-width) {
  .effect {
    display: block;
  }

  .effect__wrap {
    max-width: $tablet-width;
    min-height: 387px;

    @include wrap();

    padding-top: 96px;
    padding-bottom: 52px;
    padding-left: $tablet-width / 2;

    background-image: url("../img/icon-timer--new.svg");
    background-position: $padding-hor 59px;
    background-repeat: no-repeat;
    background-size: 238px 276px;
  }

  .effect__br--desktop {
    content: "";

    &::after {
      content: "\00a0";
    }
  }

  .effect__title {
    margin: 0;
    margin-bottom: 10px;

    line-height: 36px;

    font-size: 30px;
    font-weight: bold;
    color: #000000;
  }

  .effect__text {
    margin: 0;
    margin-bottom: 11px;

    padding: 0;
    padding-right: 5px;
  }

  .effect__link {
    @include link-text();
  }
}

@media (min-width: $desktop-width) {
  .effect {
    background-color: $bg-gray;
  }

  .effect__wrap {
    max-width: $desktop-width;

    @include wrap--desktop();

    padding-top: 96px;
    padding-bottom: 113px;
    padding-left: 375px;

    background-position: $padding-hor-desktop 7px;
    background-size: 298px 345px;
  }

  .effect__title {
    margin-bottom: 22px;
  }

  .effect__br {
    @include br--hidde();
  }

  .effect__br--desktop {
    @include br--show();
  }

  .effect__text {
    line-height: 30px;

    margin-bottom: 33px;

    font-size: 18px;
  }

  .effect__link {
    font-size: 18px;
  }
}
