.effect {
  display: none;
}

@media (min-width: $tablet-width) {
  .effect {
    display: block;
  }

  .effect__wrap {
    max-width: $tablet-width;
    min-height: 334px;

    @include wrap();

    padding-top: 96px;

    background-image: url("../img/icon-timer--new.svg");
    background-position: $padding-hor 59px;
    background-repeat: no-repeat;
    background-size: 238px 276px;
  }

  .effect__title {
    margin: 0;
    margin-left: 50%;
    margin-bottom: 10px;

    line-height: 36px;

    font-size: 30px;
    font-weight: bold;
    color: #000000;
  }

  .effect__text {
    margin: 0;
    margin-left: 50%;
    margin-bottom: 11px;
  }

  .effect__link {
    @include link-text();
  }
}

@media (min-width: $desktop-width) {
  .effect {
    background-color: $bg-gray;
  }

  .effect__wrap {
    max-width: $desktop-width;

    @include wrap--desktop();

    padding-top: 50px;
    padding-bottom: 50px;

    background-position: $padding-hor-desktop 0;
    background-size: 298px 345px;
  }

  .effect__br-title {
    display: none;
  }

  .effect__text {
    line-height: 30px;

    font-size: 18px;
  }
}
