.form-filter {
  padding-top: 20px;
  padding-bottom: 33px;

  background-color: $bg-gray;
}

.form-filter__canva {
  max-width: $min-width-body - $padding-hor * 2;
  margin: 0 auto;
}

.form-filter__picture {
  display: block;
}

.form-filter__tab-list {
  max-width: $min-width-body - $padding-hor * 2;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 30px;

  text-align: center;
}

.form-filter__tab {
  width: 65px;
  height: 48px;

  margin: 0 5px;
  padding: 0;

  background-color: transparent;
  border: none;

  color: $no-active__color;

  cursor: pointer;

  &--active {
    color: $call-to-action__color;

    cursor: default;
  }
}

.form-filter__icon-tab {
  width: 48px;
  height: 48px;
}

.form-filter__label {
  display: none;

  width: 100%;
  height: 37px;

  border-bottom: solid $reset__color 1px;

  &--active {
    display: block;
  }
}

.form-filter__range {
  width: 240px;
  display: block;

  margin: 0 auto;
  padding: 0;
}

.form-filter__buttons {
  max-width: $min-width-body - $padding-hor * 2;
  margin: 0 auto;
  margin-top: 38px;
}

.form-filter__btn {
  margin-bottom: 10px;
}

@media (min-width: $tablet-width) {
  .form-filter {
    display: flex;

    padding-top: 59px;
    padding-bottom: 54px;
  }

  .form-filter__canva {
    max-width: none;
    width: 300px;
    margin: 0;
  }

  .form-filter__picture {
    width: 100%;
  }

  .form-filter__tab-list {
    display: none;
  }

  .form-filter__tools {
    display: flex;
    flex-direction: column;

    width: 275px;
    margin-left: auto;
  }

  .form-filter__list-ranges {
    margin-top: -17px;
  }

  .form-filter__label {
    display: block;

    height: 72px;

    padding-top: 37px;
    padding-left: 55px;

    background-position: 3px center;
    background-repeat: no-repeat;
    background-size: 24px;

    &--crop {
      background-image: url("../img/icon-editor-crop.svg");
    }

    &--fill {
      background-image: url("../img/icon-editor-fill.svg");
      background-position: 3px 28px;
    }

    &--contrast {
      background-image: url("../img/icon-editor-contrast.svg");
    }
  }

  .form-filter__range {
    width: 202px;
    margin-left: 0;
  }

  .form-filter__btn {
    width: 260px;

    margin-bottom: 0;

    margin-top: 25px;
  }

  .form-filter__buttons {
    margin-top: auto;
    padding-left: 2px;
  }
}

@media (min-width: $desktop-width) {
  .form-filter {
    padding-left: 80px;
    padding-right: 60px;
    padding-top: 57px;
    padding-bottom: 56px;
  }

  .form-filter__tools {
    width: 410px;
  }

  .form-filter__label {
    padding-left: 92px;

    background-position: 0 15px;
    background-size: 45px;

    &--fill {
      background-size: 49px;
    }
  }

  .form-filter__range {
    width: 288px;

    margin: 0;
  }

  .form-filter__buttons {
    display: flex;
    justify-content: space-between;

    max-width: none;
    width: 410px;

    padding-left: 0;
  }

  .form-filter__btn {
    min-width: 185px;
    width: auto;
  }
}
