.form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  margin: 0 auto;
  padding: 0;
}

.form__fieldset {
  width: 100%;

  margin: 0;
  padding: 35px 0;

  border: none;

  &--advances,
  &--app {
    background-color: $bg-gray;
  }

  order: $order;

  &--persone,
  &--advances {
    order: 0;
  }

  &--contacts {
    order: 1;
  }
}

.form__fieldset-wrap {
  padding: 0 $padding-hor;
}

.form__legend {
  float: left;
  width: 100%;

  margin: 0 auto;

  padding: 40px;
  padding-top: 20px;
  padding-bottom: 35px;

  line-height: 18px;

  text-align: center;
  text-transform: uppercase;

  color: $call-to-action__color;

  &--persone,
  &--contacts {
    display: none;
  }
}

.form__label {
  display: block;

  padding-left: 18px;
  padding-bottom: 10px;

  text-transform: uppercase;
  color: $call-to-action__color;
}

.form__input {
  width: 100%;
  height: 59px;

  padding: 0 18px;

  @include border-form-element();
  @include input--text();
}

.form__textarea {
  width: 100%;
  height: 197px;
  resize: none;

  padding: 18px;

  background-color: #ffffff;

  @include border-form-element();
  @include input--text();
}

/* Оформляю placeholder */
.form__input::-webkit-input-placeholder { /* webkit */
  @include input--text();
}

.form__input:-moz-placeholder { /* Firefox 18- */
  @include input--text();
}

.form__input::-moz-placeholder { /* Firefox 18+ */
  @include input--text();
}

.form__input:-ms-input-placeholder { /* IE */
  @include input--text();
}

/* * */
.form__textarea::-webkit-input-placeholder { /* webkit */
  @include input--text();
}

.form__textarea:-moz-placeholder { /* Firefox 18- */
  @include input--text();
}

.form__textarea::-moz-placeholder { /* Firefox 18+ */
  @include input--text();
}

.form__textarea:-ms-input-placeholder { /* IE */
  @include input--text();
}

/* --- */

.form__label-value {
  font-size: 18px;
}

.form__field {
  padding: 10px 0;
}

.form__footer {
  order: $order;

  width: 100%;

  padding: 0 $padding-hor;
}

.form__footnote {
  text-align: center;
  text-transform: uppercase;
}

.form__warn {
  color: $call-to-action__color;
}

@media (min-width: $tablet-width) {
  .form {
    @include wrap();
  }

  .form__fieldset {
    order: 0;

    width: 100%;
    margin-bottom: 60px;
    padding-left: 0;
    padding-right: 0;

    @include border-form-element();

    background-color: transparent;

    &--persone {
      padding: 0;

      border: none;
    }
  }

  .form__legend {
    float: none;

    width: auto;

    padding: 0 $padding-hor;

    &--contacts {
      display: block;
    }
  }

  .form__fieldset-wrap {
    padding-left: 60px;
    padding-right: 60px;
  }

  .form__fieldset-wrap--persone {
    display: flex;
    flex-direction: column;

    padding-left: 0;
    padding-right: 0;
  }

  .form__field--persone {
    display: flex;
    align-items: center;

    padding-bottom: 0;
  }

  .form__label--persone {
    padding: 0;
    padding-right: 20px;
  }

  .form__field--contacts {
    display: flex;
    flex-direction: column-reverse;
  }

  .form__input--phone {
    padding-right: 78px;

    background-image: url("../img/icon-phone.svg"),
      linear-gradient(to left, #e5e5e5 60px, transparent 60px);
    background-repeat: no-repeat,
      no-repeat;
    background-position: right 20px center,
      left top;
    background-size: 20px, 100%;
  }

  .form__input--email {
    padding-right: 78px;

    background-image: url("../img/icon-mail.svg"),
      linear-gradient(to left, #e5e5e5 60px, transparent 60px);
    background-repeat: no-repeat,
      no-repeat;
    background-position: right 20px center,
      left top;
    background-size: 20px, 100%;
  }

  .form__footer {
    order: 0;

    display: flex;

    padding: 0;
  }

  .form__submit {
    display: block;
    margin: 0;
  }

  .form__footnote {
    margin: auto;
    margin-right: 0;
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .form {
    max-width: $desktop-width;

    @include wrap--desktop();
  }

  .form__legend {
    padding: 0 40px;
  }

  .form__legend--app {
    padding: 0 23px;
  }

  .form__fieldset--persone,
  .form__fieldset--app {
    width: 435px;
  }

  .form__fieldset-wrap--contacts {
    display: flex;
    justify-content: space-between;
  }

  .form__field--contacts {
    width: 371px;
  }

  .form__input--phone,
  .form__input--email {
    width: 100%;
  }

  .form__fieldset-wrap--advances {
    column-count: 3;
    column-gap: 40px;
  }
}
