.form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  margin: 0 auto;
  margin-top: -20px;
  margin-bottom: 18px;
  padding: 0;
}

.form__fieldset {
  width: 100%;

  margin: 0;
  padding: 20px 0;

  border: none;

  &--advances,
  &--app {
    background-color: $bg-gray;
  }

  order: $order;

  &--persone,
  &--advances {
    order: 0;
  }

  &--contacts {
    order: 1;

    padding-top: 33px;
    padding-bottom: 22px;
  }
}

.form__fieldset-wrap {
  clear: both;

  padding: 0 $padding-hor;
}

.form__legend {
  float: left;
  width: 100%;

  margin: 0 auto;

  padding: 40px;
  padding-top: 20px;
  padding-left: 38px;

  line-height: 18px;

  text-align: center;
  text-transform: uppercase;

  color: $call-to-action__color;

  &--persone,
  &--contacts {
    display: none;
  }

  &--app {
    padding-top: 18px;
    padding-bottom: 36px;
  }

  &--message {
    padding-top: 18px;
    padding-bottom: 17px;
  }
}

.form__fieldset--advances {
  padding-bottom: 0;
}

.form__fieldset--app {
  padding-bottom: 5px;
}

.form__fieldset--message {
  padding-bottom: 35px;
}

.form__field {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
}

.form__field--advances {
  margin-bottom: 45px;
}

.form__field--app {
  margin-bottom: 38px;
}

.form__label {
  display: block;

  padding-left: 21px;
  padding-bottom: 8px;

  text-transform: uppercase;
  color: $call-to-action__color;
}

/* --- */

.form__label-value {
  font-size: 18px;
}

.form__footer {
  order: $order;

  width: 100%;

  padding: 0 $padding-hor;
}

.form__footnote {
  margin: 0;
  margin-top: 38px;

  text-align: center;
  text-transform: uppercase;
}

.form__oly-desktop {
  display: none;
}

.form__warn {
  color: $call-to-action__color;
}

@media (min-width: $tablet-width) {
  .form {
    @include wrap();
  }

  .form__fieldset {
    order: 0;

    width: 100%;
    margin-bottom: 57px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 16px;

    @include border-form-element();

    background-color: transparent;

    &--persone {
      margin-bottom: 6px;
      padding: 0;

      border: none;
    }

    &--contacts {
      padding-top: 37px;
      padding-bottom: 0;
    }
  }

  .form__legend {
    float: none;

    width: auto;

    padding: 0 25px;

    &--contacts {
      display: block;
    }
  }

  .form__fieldset-wrap {
    padding-left: 59px;
    padding-right: 59px;
  }

  .form__fieldset-wrap--persone {
    display: flex;
    flex-direction: column;

    padding-left: 0;
    padding-right: 0;
  }

  .form__field {
    margin-bottom: 52px;
  }

  .form__label {
    padding: 0;
    padding-left: 18px;
    padding-top: 13px;
  }

  .form__field--app {
    margin-top: 25px;
    margin-bottom: 38px;
  }

  .form__field--persone {
    display: flex;
    align-items: center;
  }

  .form__label--persone {
    padding: 0;
    padding-right: 20px;
  }

  .form__field--contacts {
    display: flex;
    flex-direction: column-reverse;

    margin-bottom: 31px;
  }

  .form__input--phone {
    padding-right: 78px;

    background-image: url("../img/icon-phone.svg"),
      linear-gradient(to left, #e5e5e5 60px, transparent 60px);
    background-repeat: no-repeat,
      no-repeat;
    background-position: right 20px center,
      left top;
    background-size: 20px, 100%;
  }

  .form__input--email {
    padding-right: 78px;

    background-image: url("../img/icon-mail.svg"),
      linear-gradient(to left, #e5e5e5 60px, transparent 60px);
    background-repeat: no-repeat,
      no-repeat;
    background-position: right 20px center,
      left top;
    background-size: 20px, 100%;
  }

  .form__field--advances {
    margin-bottom: 45px;
  }

  .form__fieldset--advances {
    padding-bottom: 5px;
  }

  .form__fieldset-wrap--advances {
    padding-top: 24px;
  }

  .form__fieldset--message {
    margin-bottom: 67px;
  }

  .form__fieldset-wrap--message {
    padding-top: 16px;
    padding-bottom: 28px;
  }

  .form__footer {
    order: 0;

    display: flex;

    padding: 0;
    padding-bottom: 50px;
  }

  .form__submit {
    display: block;
    min-width: 300px;
    margin: 0;
  }

  .form__footnote {
    margin: auto;
    margin-right: 0;
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .form {
    max-width: $desktop-width;

    @include wrap--desktop();
  }

  .form__legend {
    padding: 0 40px;
  }

  .form__legend--app {
    padding: 0 23px;
  }

  .form__fieldset--persone,
  .form__fieldset--app {
    width: 435px;
  }

  .form__fieldset-wrap--persone {
    padding-top: 15px;
  }

  .form__fieldset--contacts {
    padding-top: 33px;
    padding-bottom: 15px;
  }

  .form__fieldset-wrap--contacts {
    display: flex;
    justify-content: space-between;
  }

  .form__field--contacts {
    width: 374px;
    margin-bottom: 0;
  }

  .form__field--app {
    margin-top: 0;
    margin-bottom: 37px;
  }

  .form__fieldset-wrap--app {
    padding-top: 27px;
    padding-left: 74px;
    padding-right: 74px;
  }

  .form__fieldset-wrap--advances {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    flex-wrap: wrap;

    height: 196px;
    padding-top: 27px;
  }

  .form__fieldset--message {
    padding-bottom: 7px;
  }

  .form__fieldset-wrap--message {
    margin-bottom: 0;
  }

  .form__oly-desktop {
    display: inline;
  }

  .form__footer {
    padding-bottom: 0;
  }
}
