.page-header {
  color: #ffffff;
  background-color: $color;
}

.page-header__top {
  position: relative;

  z-index: 100;
}

.page-header__bottom {
  position: relative;

  margin-top: -66px;
  padding-top: 66px;

  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
  }
}

.page-header__title {
  min-height: 170px;

  @include wrap();

  padding-top: 28px;
  padding-bottom: 20px;

  line-height: 29px;

  font-size: 24px;
  font-weight: lighter;
  text-align: center;

  &--hand {
    padding-top: 22px;
    padding-bottom: 313px;
    background-image: url("../img/iphone-hand-mobile@1x.png");
    background-repeat: no-repeat;
    background-position: calc(50% - 30px) bottom;
    background-size: 258px 286px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/iphone-hand-mobile@2x.png");
    }
  }
}

@media (min-width: $tablet-width) {
  .page-header__bottom {
    margin-top: -110px;
    padding-top: 110px;

    background-image: url("../img/bg-back-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
    }
  }

  .page-header__bottom-wrap {
    max-width: $tablet-width;

    @include wrap();
  }

  .page-header__title {
    max-width: 500px;
    min-height: 328px;

    padding: 0;
    padding-top: 67px;
    padding-bottom: 30px;

    line-height: 60px;

    font-size: 50px;

    background-image: none;
  }

  .page-header__title--hand {
    width: 300px;
    min-height: 0;

    margin-left: 0;
    padding: 0 30px;

    line-height: 48px;

    font-size: 40px;
  }

  .page-header__download {
    width: 300px;

    margin-left: 0;
    margin-top: 0;
  }

  .page-header__bottom-wrap--hand {
    min-height: 617px;

    padding-top: 91px;

    background-image: url("../img/iphone-hand-tablet@1x.png");
    background-position: right -20px bottom;
    background-repeat: no-repeat;
    background-size: 700px 545px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/iphone-hand-tablet@2x.png");
    }
  }
}

@media (min-width: $desktop-width) {
  .page-header__bottom {
    background-image: url("../img/bg-back-desktop@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
    }
  }

  .page-header__bottom-wrap {
    max-width: $desktop-width;

    @include wrap--desktop();
  }

  .page-header__bottom-wrap--hand {
    min-height: 741px;

    padding-top: 45px;

    background-image: url("../img/iphone-hand-desktop@1x--new.png");
    background-position: right 50px bottom;
    background-size: 560px 645px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/iphone-hand-desktop@2x--new.png");
    }
  }

  .page-header__title {
    max-width: 760px;
    min-height: 283px;

    padding-top: 62px;

    font-size: 50px;
    line-height: 60px;
  }
}
