.page-header {
  color: #ffffff;
  background-color: $color;
}

.page-header__top {
  position: relative;

  z-index: 100;
}

.page-header__bottom {
  position: relative;

  margin-top: -66px;
  padding-top: 66px;

  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}


.page-header__title {
  min-height: 170px;

  @include wrap();

  padding-top: 35px;
  padding-bottom: 20px;

  line-height: normal;

  font-size: 24px;
  font-weight: lighter;
  text-align: center;

  &--hand {
    padding-bottom: 300px;
    background-image: url("../img/iphone-hand-mobile@1x.png");
    background-repeat: no-repeat;
    background-position: calc(50% - 30px) bottom;
  }
}

@media (min-width: $tablet-width) {
  .page-header__bottom {
    margin-top: -110px;
    padding-top: 110px;

    background-image: url("../img/bg-back-tablet@1x.jpg");
  }

  .page-header__bottom-wrap {
    max-width: $tablet-width;

    @include wrap();
  }

  .page-header__title {
    min-height: 330px;

    padding: 80px 0;

    font-size: 40px;

    background-image: none;
  }

  .page-header__title--hand {
    width: 300px;
    min-height: 0;

    margin-left: 0;
    padding: 0;
  }

  .page-header__download {
    width: 300px;

    margin-left: 0;
  }

  .page-header__bottom-wrap--hand {
    min-height: 620px;

    padding-top: 75px;

    background-image: url("../img/iphone-hand-tablet@1x.png");
    background-position: right bottom;
    background-repeat: no-repeat;
  }
}

@media (min-width: $desktop-width) {
  .page-header__bottom {
    background-image: url("../img/bg-back-desktop@1x.jpg");
  }

  .page-header__bottom-wrap {
    max-width: $desktop-width;

    @include wrap--desktop();
  }

  .page-header__bottom-wrap--hand {
    min-height: 743px;

    background-image: url("../img/iphone-hand-desktop@1x--new.png");
  }

  .page-header__title {
    font-size: 50px;
  }
}
