.photo {
  display: flex;
  flex-direction: column;
}

.photo__info {
  flex-grow: 1;

  display: flex;
  flex-direction: column;

  width: 100%;

  margin: 0 auto;
  padding-top: 0;
  padding-right: 10px;
  padding-bottom: 20px;
  padding-left: 18px;

  background-color: $bg-gray;
}

.photo__image {
  display: block;

  width: 100%;
}

.photo__link {
  display: block;

  text-decoration: none;
}

.photo__header {
  margin: 0;
  margin-top: 18px;
  padding: 0;
}

.photo__author {
  font-weight: bold;
}

.photo__date {
  font-size: 12px;
  font-weight: lighter;
  text-transform: uppercase;
}

.photo__text {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
}

.photo__like {
  margin-top: auto;

  padding-left: 32px;

  font-size: 12px;
  color: $call-to-action__color;
  text-transform: uppercase;
  text-decoration: none;

  background: url("../img/icon-heart.svg") left center no-repeat;
  background-size: 15px 13px;
}

.photo--main .photo__info {
  max-width: $min-width-body - 2 * $padding-hor;
  margin: 0 auto;
}

.photo--main .photo__link {
  position: relative;

  &::after {
    content: "Панорама дня";

    display: block;
    width: 140px;
    line-height: 36px;

    position: absolute;
    top: 0;
    right: $padding-hor;

    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;

    color: #ffffff;
    background-color: $call-to-action__color;
  }
}

@media (min-width: $tablet-width) {
  .photo__info {
    min-height: 155px;

    padding-left: 28px;
    padding-right: 30px;
    padding-bottom: 22px;
  }

  .photo__header {
    margin-top: 24px;
  }

  .photo__text {
    margin-bottom: 12px;
  }

  .photo__like {
    padding-left: 0;
    padding-right: 32px;
    background-position: right center;
    background-size: 15px 13px;
  }

  .photo--main .photo__link {
    width: 100%;
    height: 509px;

    overflow: hidden;

    &::after {
      top: 57px;
      right: 20px;
    }
  }

  .photo--main .photo__image {
    width: auto;
    max-width: none;
    height: 100%;
    margin-left: 50%;
    transform: translateX(-50%);
  }

  .photo--main .photo__info {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    max-width: $tablet-width - $padding-hor * 2;
    min-height: 0;

    padding-right: 28px;
    padding-bottom: 24px;
  }

  .photo--main .photo__text {
    order: 5;
    width: 100%;
    margin-bottom: 0;
  }

  .photo--main .photo__like {
    align-self: center;
  }
}

@media (min-width: $desktop-width) {
  .photo--main .photo__link {
    height: 506px;

    &::after {
      top: 53px;
      right: 50%;
      transform: translateX(470px);
    }
  }

  .photo--main .photo__info {
    max-width: $desktop-width - $padding-hor-desktop * 2;

    padding-right: 30px;
  }
}
