.photofilter {
  background-color: $bg-gray;
}

@media (min-width: $tablet-width) {
  .photofilter__form {
    max-width: $tablet-width;

    margin: 0 auto;
    padding-left: $padding-hor;
    padding-right: $padding-hor;
  }
}

@media (min-width: $desktop-width) {
  .photofilter {
    margin-bottom: 29px;

    background-color: #ffffff;
  }

  .photofilter__form {
    max-width: $desktop-width - $padding-hor-desktop * 2;
  }
}
