.photo-list {
  max-width: $min-width-body;
  margin: 0 auto;
}

.photo-list__grid {
  @include wrap();
}

.photo-list__item {
  margin: 0;
  margin-top: 19px;

  padding: 0;
}

.photo-list__item--main {
  margin-top: 0;
}

@media (min-width: $tablet-width) {
  .photo-list {
    max-width: $tablet-width;
  }

  .photo-list__grid {
    display: flex;
    flex-wrap: wrap;

    max-width: $tablet-width;
    padding-left: $padding-hor / 2;
    padding-right: $padding-hor / 2;
  }

  .photo-list__item {
    width: 50%;
    margin-top: 21px;
    padding-left: $padding-hor-desktop;
    padding-right: $padding-hor-desktop;
  }

  .photo-list__item--main {
    width: 100%;

    margin-top: 0;
    margin-bottom: 28px;

    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: $desktop-width) {
  .photo-list {
    width: auto;
    max-width: $photo-main-width;

    margin: 0 auto;
  }

  .photo-list__grid {
    max-width: $desktop-width;

    padding-left: 0;
    padding-right: 0;
  }

  .photo-list__item {
    width: 33.333%;

    margin-top: 54px;
  }

  .photo-list__item--main {
    width: 100%;
    max-width: $photo-main-width;

    margin-top: 0;
    margin-bottom: -5px;
  }
}
