/*
.photo-list__item {
  width: 280px;

  margin: 0;
  margin-bottom: 20px;
}

.photo-list__grid {
  width: 280px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .photo-list__grid {
    display: flex;
    flex-wrap: wrap;

    width: $tablet-width - $padding-hor;
  }

  .photo-list__item {
    width: 300px;
    margin-right: $padding-hor / 2;
    margin-left: $padding-hor / 2;
  }

  .photo-list__item--main {
    margin-bottom: 50px;
  }
}

@media (min-width: $desktop-width) {
  .photo-list__grid {
    width: $desktop-width;
  }
}

.photo-list__item--main {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

.photo-list__grid {
  display: none;
}
*/

.photo-list__grid {
  max-width: $min-width-body;

  @include wrap();
}

.photo-list__item {
  margin-bottom: 20px;
}

@media (min-width: $tablet-width) {
  .photo-list__grid {
    display: flex;
    flex-wrap: wrap;

    max-width: $tablet-width;
    padding-left: $padding-hor / 2;
    padding-right: $padding-hor / 2;
  }

  .photo-list__item {
    width: 50%;
    padding-left: $padding-hor-desktop;
    padding-right: $padding-hor-desktop;
  }

  .photo-list__item--main {
    width: 100%;
    margin-bottom: 50px;
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: $desktop-width) {
  .photo-list__grid {
    max-width: $desktop-width;

    padding-left: 0;
    padding-right: 0;
  }

  .photo-list__item {
    width: 33.333%;
    margin-bottom: 54px;
  }

  .photo-list__item--main {
    width: 100%;
    margin-bottom: 50px;
  }
}
