.photo {
  display: flex;
  flex-direction: column;
}

.photo--main {
  display: block;
}

.photo__image {
  display: block;

  width: 100%;
  height: auto;
}

.photo__link {
  display: block;

  text-decoration: none;
}

.photo__info {
  flex-grow: 1;

  display: flex;
  flex-direction: column;

  width: 100%;

  @include wrap();

  background-color: $bg-gray;
}

.photo__main-mark {
  position: relative;
  height: 0;
  max-width: $desktop-width;

  @include wrap();

  &::after {
    content: "Панорама дня";

    display: block;
    width: 140px;
    line-height: 36px;

    position: absolute;
    bottom: -36px;
    right: $padding-hor;

    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;

    color: #ffffff;
    background-color: $call-to-action__color;
  }
}

.photo--main .photo__info {
  width: auto;

  margin: 0 $padding-hor;
}

.photo__like {
  margin-top: auto;

  padding-left: 32px;

  font-size: 12px;
  color: $call-to-action__color;
  text-transform: uppercase;
  text-decoration: none;

  background: url("../img/icon-heart.svg") left center no-repeat;
  background-size: 13px;
}

@media (min-width: $tablet-width) {
  .photo__main-mark {
    top: 54px;

    @include wrap--desktop();
  }

  .photo__like {
    padding-left: 0;
    padding-right: 32px;
    background-position-x: right;
  }

  .photo--main .photo__info {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .photo--main .photo__text {
    order: 5;
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .photo__main-mark {
    top: 57px;
  }

  .photo--main .photo__info {
    max-width: $desktop-width - $padding-hor-desktop * 2;

    margin: 0 auto;

    @include wrap--desktop();
  }
}
