.photo {
  display: flex;
  flex-direction: column;
}

.photo__link {
  display: block;
  position: relative;
}

.photo__image {
  display: block;

  width: 100%;
}

.photo__mark {
  display: flex;
  justify-content: flex-end;

  position: absolute;
  top: 0;

  width: 100%;

  @include wrap();

  &::before {
    content: "Панорама дня";

    display: block;
    width: 140px;
    line-height: 36px;

    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;

    color: #ffffff;
    background-color: $call-to-action__color;
  }
}

.photo__wrap {
  flex-grow: 1;

  display: flex;
  flex-direction: column;

  width: 100%;

  @include wrap();

  background-color: $bg-gray;
}

.photo--main .photo__wrap {
  width: auto;
  margin: 0 $padding-hor;
}

.photo__date {
  font-weight: lighter;
  font-size: 12px;
  text-transform: uppercase;
}

.photo__like {
  margin-top: auto;

  padding-left: 32px;

  font-size: 12px;
  color: $call-to-action__color;
  text-transform: uppercase;
  text-decoration: none;

  background: url("../img/icon-heart.svg") left center no-repeat;
}

@media (min-width: $tablet-width) {
  .photo__wrap {
    padding-left: 27px;
    padding-right: 27px;
  }

  .photo__mark {
    top: 57px;
  }
}

@media (min-width: $desktop-width) {
  .photo__mark {
    width: $desktop-width;
    top: 54px;
    left: 50%;
    transform: translateX(-50%);
  }

  .photo--main .photo__wrap {
    width: 940px;
    margin: 0 auto;
  }
}
