.question {
  display: flex;
  align-items: center;

  min-height: 184px;
  padding: 30px 20px;
}

.question__text {
  width: 250px;
  margin: 0 auto;
  padding: 0;

  line-height: 30px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .question {
    min-height: 228px;
    padding-top: 48px;
  }

  .question__text {
    width: 500px;

    @include wrap();

    font-size: 18px;
  }
}

@media (min-width: $desktop-width) {
  .question {
    min-height: 240px;
    padding-top: 33px;
  }

  .question__text {
    width: 620px;
  }
}
