.reviews {
  padding: 0;
  padding-top: 44px;
  padding-bottom: 38px;
}

.reviews__wrap {
  margin: 0;
  padding: 0;
}

.reviews__viewbox {
  padding: 0;
}

.reviews__item {
  @include wrap();

  text-align: center;
}

.reviews__item-wrap {
  display: flex;
  flex-direction: column;

  width: $min-width-body - $padding-hor * 2;

  margin: 0 auto;
}

.reviews__author-name {
  margin: 0;
  margin-bottom: 16px;
  padding: 0;

  font-size: 18px;
  font-weight: bold;
  font-style: normal;

  color: #000000;
}

.reviews__author-info {
  display: none;
}

.reviews__text {
  position: relative;

  height: 208px;

  margin: 0;
  padding: 0;

  overflow: hidden;

  line-height: 30px;

  &::after {
    content: "";

    display: block;
    position: absolute;
    bottom: 0;

    width: 100%;
    height: 50px;

    background-image: linear-gradient(to top, #ffffff, transparent 50px);
  }
}

.reviews__arrow {
  display: none;
}

@media (min-width: $tablet-width) {
  .reviews {
    padding-top: 46px;
    padding-bottom: 17px;
  }

  .reviews__item-wrap {
    width: $tablet-width - $padding-hor * 2;
  }

  .reviews__author-name {
    margin-bottom: 8px;

    font-size: 20px;
  }

  .reviews__author-info {
    display: block;
    font-size: 14px;
  }

  .reviews__text {
    order: -1;

    height: 128px;

    font-size: 18px;
  }

  .reviews__toggle-list {
    margin-top: 32px;
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    padding-top: 185px;
    padding-bottom: 44px;

    background-image: url("../img/icon-quotes---new.svg");
    background-repeat: no-repeat;
    background-position: center 73px;
  }

  .reviews__wrap {
    width: auto;
    max-width: $desktop-width;

    @include wrap();
    @include wrap--desktop();
  }

  .reviews__item-wrap {
    width: 750px;
  }

  .reviews__author-name {
    font-size: 24px;
  }

  .reviews__author-info {
    display: block;

    font-size: 18px;
  }

  .reviews__text {
    height: 130px;
  }

  .reviews__toggle-list {
    display: none;
  }

  .reviews__arrow {
    display: block;
    position: absolute;
    top: 30px;

    &--left {
      left: 0;
    }

    &--right {
      right: 0;
    }
  }
}
