.social {
  display: flex;
  justify-content: center;
}

.social__link {
  display: block;

  box-sizing: content-box;

  width: 46px;
  height: 46px;

  margin: 0 6px;

  border: solid $reset__color 3px;

  border-radius: 50%;

  &::before {
    content: "";
    display: block;

    width: 46px;
    height: 46px;

    background-position: center;
    background-repeat: no-repeat;
  }

  &--twitter::before {
    background-image: url("../img/icon-twitter.svg");
  }

  &--facebook::before {
    background-image: url("../img/icon-facebook.svg");
  }

  &--youtube::before {
    background-image: url("../img/icon-youtube.svg");
  }
}

.social__link:hover,
.social__link:focus {
  border-color: $color;
  outline: none;
}

.social__link:active {
  border-color: $reset__color;

  &::before {
    opacity: 0.3;
  }
}
