.tools__tab {
  width: 65px;
  height: 48px;

  background-color: transparent;
  border: none;

  color: $no-active__color;

  &--active {
    color: $call-to-action__color;
  }
}

.tools__icon-tab {
  width: 48px;
  height: 48px;
}

.tools__wrap {
  display: none;

  width: 100%;

  &--active {
    display: block;
  }
}

.tools__range {
  width: 100%;
}
