$font-family: "Open Sans", "Arial", sans-serif;
$font-size-text: 14px;
$font-weight-text: normal;

$color: #283645;
$call-to-action__color: #d22856;
$reset__color: rgba(40, 54, 69, 0.1);

$bg-gray: #f2f2f2;
